<%= simple_form_for @property, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2> Endereço </h2>
  <div class="field">
    <%= f.label :address_name %><br />
    <%= f.text_field :address_name %>
  </div>
  <div class="field">
    <%= f.label :address_number %><br />
    <%= f.text_field :address_number %>
  </div>
  <div class="field">
    <%= f.label :address_complement %><br />
    <%= f.text_field :address_complement %>
  </div>
  <div class="field">
    <%= f.label :address_reference %><br />
    <%= f.text_field :address_reference %>
  </div>
  <div class="field">
    <%= f.input :district, :include_blank => false %>
  </div>
  


  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>