<div id="content-header">
      <h1>Editar Imóvel - Cód. 089341</h1>
      
      <div class="btn-group">
        <a class="btn btn-large tip-bottom" title="Manage Files"><i class="icon-file"></i></a>
        <a class="btn btn-large tip-bottom" title="Manage Users"><i class="icon-user"></i></a>
        <a class="btn btn-large tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
        <a class="btn btn-large tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a>
      </div>
    </div>
    <div id="breadcrumb">
        <a href="index.html" title="" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> Imóveis</a>
        <a href="#">Editar</a>
        <a href="#" class="current">Cód. 089341</a>
      </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12 center" style="text-align: center;">         

          <div class="widget-box">
                            <div class="widget-title">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#tab1">Cadastro</a></li>
                                    <li><a data-toggle="tab" href="#tab2"><i class="fw-icon-picture"></i> Fotos</a></li>
                                    <li><a data-toggle="tab" href="#tab3"><i class="fw-fw-icon-globe"></i> Website</a></li>
                                    <li><a data-toggle="tab" href="#tab3"><i class="fw-fw-icon-tablet"></i> Catálogo Móvel</a></li>
                                </ul>
                            </div>
                            <div class="widget-content tab-content">
                                <div id="tab1" class="tab-pane active">Tab One Content

                                </div>
                                <div id="tab2" class="tab-pane">
                                  
                                    <div class="btn-toolbar">
                                      <div class="btn-group" data-toggle="buttons-radio">
                                          <button class="btn" onClick='javascript:return resort_images();' data-original-title="Bold - Ctrl+B">
                                            <i class="fw-icon-move"></i>
                                             Ordenar
                                           </button>
                                          <button class="btn" onClick='javascript:return select_cover();' data-original-title="Italic - Ctrl+I">
                                            <i class="fw-icon-picture"></i>
                                             Selecionar capa
                                           </button>
                                          <button class="btn" onClick='javascript:return select_website_images();' data-original-title="Italic - Ctrl+I">
                                            <i class="fw-icon-globe"></i>
                                             Website
                                           </button>
                                          <button class="btn" onClick='javascript:return select_mobile_images();' data-original-title="Italic - Ctrl+I">
                                            <i class="fw-icon-tablet"></i>
                                             Catálogo Móvel
                                           </button>
                                      </div>
                                      <a href="#" class="btn btn-primary" onClick='javascript:return deactivate_all();'><i class="icon-ok icon-white"></i> Salvar alterações</a>
</div>

<ul id="sortable">
                                      <li class="ui-state-default wrapper span3">

                                         <img src="http://areasrurais.net/imagens/imoveis/1284011.jpg" alt=""/>
                                          
                                           <div class="published">
                                              <i class="fw-icon-globe" data-toggle="tooltip" title="Disponivel no website"></i>
                                               <i class="fw-icon-tablet" data-toggle="tooltip" title="Não está disponivel no catálogo móvel"></i>       
                                              
                                          </div>
                                        </li>
                                      <li class="ui-state-default wrapper span3">
                                          <div class="ribbon-outer">
                                            <div class="ribbon-inner">Capa</div>
                                          </div>
                                          
                                              <img src="http://areasrurais.net/imagens/imoveis/1284050.jpg" alt=""/>
                                          
                                          
                                          <div class="published">
                                              <i class="fw-icon-globe" data-toggle="tooltip" title="Disponivel no website"></i>
                                               <i class="fw-icon-tablet" data-toggle="tooltip" title="Não está disponivel no catálogo móvel"></i>       
                                              
                                          </div>
                                          
                                        </li>
                                        <li class="ui-state-default wrapper span3">
                                          <a title="Gazebo com bancos" class="fancybox" href="http://areasrurais.net/imagens/imoveis/1284023.jpg">
                                              <img src="http://areasrurais.net/imagens/imoveis/1284023.jpg" alt=""/>
                                          </a>
                                             <div class="published">
                                              <i class="fw-icon-globe" data-toggle="tooltip" title="Disponivel no website"></i>
                                               <i class="fw-icon-tablet" data-toggle="tooltip" title="Não está disponivel no catálogo móvel"></i>       
                                              
                                          </div>
                                        </li>
                                        <li class="ui-state-default wrapper span3">
                                          <a title="Terras vizinhas" class="fancybox" href="http://areasrurais.net/imagens/imoveis/1284271.jpg">
                                              <img src="http://areasrurais.net/imagens/imoveis/1284271.jpg" alt=""/>
                                          </a>
                                             <div class="published">
                                              <i class="fw-icon-globe" data-toggle="tooltip" title="Disponivel no website"></i>
                                               <i class="fw-icon-tablet" data-toggle="tooltip" title="Não está disponivel no catálogo móvel"></i>       
                                              
                                          </div>
                                        </li>
                                        <li class="ui-state-default wrapper span3">
                                          <a title="Jardim decorado" class="fancybox" href="http://areasrurais.net/imagens/imoveis/1284473.jpg">
                                              <img src="http://areasrurais.net/imagens/imoveis/1284473.jpg" alt=""/>
                                          </a>
                                             <div class="published">
                                              <i class="fw-icon-globe" data-toggle="tooltip" title="Disponivel no website"></i>
                                               <i class="fw-icon-tablet" data-toggle="tooltip" title="Não está disponivel no catálogo móvel"></i>       
                                              
                                          </div>
                                        </li>
                                        <li class="ui-state-default wrapper span3">
                                          <a title="Ampla área verde" class="fancybox" href="http://areasrurais.net/imagens/imoveis/1284679.jpg">
                                              <img src="http://areasrurais.net/imagens/imoveis/1284679.jpg" alt=""/>
                                          </a>
                                             <div class="published">
                                              <i class="fw-icon-globe" data-toggle="tooltip" title="Disponivel no website"></i>
                                               <i class="fw-icon-tablet" data-toggle="tooltip" title="Não está disponivel no catálogo móvel"></i>       
                                              
                                          </div>
                                        </li>
                                        <li class="ui-state-default wrapper span3">
                                          <a title="Gazebo com bancos" class="fancybox" href="http://areasrurais.net/imagens/imoveis/1284023.jpg">
                                              <img src="http://areasrurais.net/imagens/imoveis/1284023.jpg" alt=""/>
                                          </a>
                                             <div class="published">
                                              <i class="fw-icon-globe" data-toggle="tooltip" title="Disponivel no website"></i>
                                               <i class="fw-icon-tablet" data-toggle="tooltip" title="Não está disponivel no catálogo móvel"></i>       
                                              
                                          </div>
                                        </li>
                                        <li class="ui-state-default wrapper span3">
                                          <a title="Terras vizinhas" class="fancybox" href="http://areasrurais.net/imagens/imoveis/1284271.jpg">
                                              <img src="http://areasrurais.net/imagens/imoveis/1284271.jpg" alt=""/>
                                          </a>
                                             <div class="published">
                                              <i class="fw-icon-globe" data-toggle="tooltip" title="Disponivel no website"></i>
                                               <i class="fw-icon-tablet" data-toggle="tooltip" title="Não está disponivel no catálogo móvel"></i>       
                                              
                                          </div>
                                        </li>
                                        <li class="ui-state-default wrapper span3">
                                          <a title="Jardim decorado" class="fancybox" href="http://areasrurais.net/imagens/imoveis/1284473.jpg">
                                              <img src="http://areasrurais.net/imagens/imoveis/1284473.jpg" alt=""/>
                                          </a>
                                            <div class="published">
                                              <i class="fw-icon-globe" data-toggle="tooltip" title="Disponivel no website"></i>
                                               <i class="fw-icon-tablet" data-toggle="tooltip" title="Não está disponivel no catálogo móvel"></i>       
                                              
                                          </div>
                                        </li>
                                        <li class="ui-state-default wrapper span3">
                                          <a title="Ampla área verde" class="fancybox" href="http://areasrurais.net/imagens/imoveis/1284679.jpg">
                                              <img src="http://areasrurais.net/imagens/imoveis/1284679.jpg" alt=""/>
                                          </a>
                                             <div class="published">
                                              <i class="fw-icon-globe" data-toggle="tooltip" title="Disponivel no website"></i>
                                               <i class="fw-icon-tablet" data-toggle="tooltip" title="Não está disponivel no catálogo móvel"></i>       
                                              
                                          </div>
                                        </li>
                                        <li class="ui-state-default wrapper span3">
                                          <a title="Gazebo com bancos" class="fancybox" href="http://areasrurais.net/imagens/imoveis/1284023.jpg">
                                              <img src="http://areasrurais.net/imagens/imoveis/1284023.jpg" alt=""/>
                                          </a>
                                             <div class="published">
                                              <i class="fw-icon-globe" data-toggle="tooltip" title="Disponivel no website"></i>
                                               <i class="fw-icon-tablet" data-toggle="tooltip" title="Não está disponivel no catálogo móvel"></i>       
                                              
                                          </div>
                                        </li>
                                        <li class="ui-state-default wrapper span3">
                                          <a title="Terras vizinhas" class="fancybox" href="http://areasrurais.net/imagens/imoveis/1284271.jpg">
                                              <img src="http://areasrurais.net/imagens/imoveis/1284271.jpg" alt=""/>
                                          </a>
                                             <div class="published">
                                              <i class="fw-icon-globe" data-toggle="tooltip" title="Disponivel no website"></i>
                                               <i class="fw-icon-tablet" data-toggle="tooltip" title="Não está disponivel no catálogo móvel"></i>       
                                              
                                          </div>
                                        </li>
                                        <li class="ui-state-default wrapper span3">
                                          <a title="Jardim decorado" class="fancybox" href="http://areasrurais.net/imagens/imoveis/1284473.jpg">
                                              <img src="http://areasrurais.net/imagens/imoveis/1284473.jpg" alt=""/>
                                          </a>
                                             <div class="published">
                                              <i class="fw-icon-globe" data-toggle="tooltip" title="Disponivel no website"></i>
                                               <i class="fw-icon-tablet" data-toggle="tooltip" title="Não está disponivel no catálogo móvel"></i>       
                                              
                                          </div>
                                        </li>
                                        <li class="ui-state-default wrapper span3">
                                          <a title="Ampla área verde" class="fancybox" href="http://areasrurais.net/imagens/imoveis/1284679.jpg">
                                              <img src="http://areasrurais.net/imagens/imoveis/1284679.jpg" alt=""/>
                                          </a>
                                             <div class="published">
                                              <i class="fw-icon-globe" data-toggle="tooltip" title="Disponivel no website"></i>
                                               <i class="fw-icon-tablet" data-toggle="tooltip" title="Não está disponivel no catálogo móvel"></i>       
                                              
                                          </div>
                                        </li>
                                        <li class="ui-state-default wrapper span3">
                                          <a title="Gazebo com bancos" class="fancybox" href="http://areasrurais.net/imagens/imoveis/1284023.jpg">
                                              <img src="http://areasrurais.net/imagens/imoveis/1284023.jpg" alt=""/>
                                          </a>
                                             <div class="published">
                                              <i class="fw-icon-globe" data-toggle="tooltip" title="Disponivel no website"></i>
                                               <i class="fw-icon-tablet" data-toggle="tooltip" title="Não está disponivel no catálogo móvel"></i>       
                                              
                                          </div>
                                        </li>
                                        <li class="ui-state-default wrapper span3">
                                          <a title="Terras vizinhas" class="fancybox" href="http://areasrurais.net/imagens/imoveis/1284271.jpg">
                                              <img src="http://areasrurais.net/imagens/imoveis/1284271.jpg" alt=""/>
                                          </a>
                                             <div class="published">
                                              <i class="fw-icon-globe" data-toggle="tooltip" title="Disponivel no website"></i>
                                               <i class="fw-icon-tablet" data-toggle="tooltip" title="Não está disponivel no catálogo móvel"></i>       
                                              
                                          </div>
                                        </li>
                                        <li class="ui-state-default wrapper span3">
                                          <a title="Jardim decorado" class="fancybox" href="http://areasrurais.net/imagens/imoveis/1284473.jpg">
                                              <img src="http://areasrurais.net/imagens/imoveis/1284473.jpg" alt=""/>
                                          </a>
                                             <div class="published">
                                              <i class="fw-icon-globe" data-toggle="tooltip" title="Disponivel no website"></i>
                                               <i class="fw-icon-tablet" data-toggle="tooltip" title="Não está disponivel no catálogo móvel"></i>       
                                              
                                          </div>
                                        </li>
                                        <li class="ui-state-default wrapper span3">
                                          <a title="Ampla área verde" class="fancybox" href="http://areasrurais.net/imagens/imoveis/1284679.jpg">
                                              <img src="http://areasrurais.net/imagens/imoveis/1284679.jpg" alt=""/>
                                          </a>
                                             <div class="published">
                                              <i class="fw-icon-globe" data-toggle="tooltip" title="Disponivel no website"></i>
                                               <i class="fw-icon-tablet" data-toggle="tooltip" title="Não está disponivel no catálogo móvel"></i>       
                                              
                                          </div>
                                        </li>
                                        <li class="ui-state-default wrapper span3">
                                          <a title="Gazebo com bancos" class="fancybox" href="http://areasrurais.net/imagens/imoveis/1284023.jpg">
                                              <img src="http://areasrurais.net/imagens/imoveis/1284023.jpg" alt=""/>
                                          </a>
                                             <div class="published">
                                              <i class="fw-icon-globe" data-toggle="tooltip" title="Disponivel no website"></i>
                                               <i class="fw-icon-tablet" data-toggle="tooltip" title="Não está disponivel no catálogo móvel"></i>       
                                              
                                          </div>
                                        </li>
                                        <li class="ui-state-default wrapper span3">
                                          <a title="Terras vizinhas" class="fancybox" href="http://areasrurais.net/imagens/imoveis/1284271.jpg">
                                              <img src="http://areasrurais.net/imagens/imoveis/1284271.jpg" alt=""/>
                                          </a>
                                             <div class="published">
                                              <i class="fw-icon-globe" data-toggle="tooltip" title="Disponivel no website"></i>
                                               <i class="fw-icon-tablet" data-toggle="tooltip" title="Não está disponivel no catálogo móvel"></i>       
                                              
                                          </div>
                                        </li>
                                        <li class="ui-state-default wrapper span3">
                                          <a title="Jardim decorado" class="fancybox" href="http://areasrurais.net/imagens/imoveis/1284473.jpg">
                                              <img src="http://areasrurais.net/imagens/imoveis/1284473.jpg" alt=""/>
                                          </a>
                                             <div class="published">
                                              <i class="fw-icon-globe" data-toggle="tooltip" title="Disponivel no website"></i>
                                               <i class="fw-icon-tablet" data-toggle="tooltip" title="Não está disponivel no catálogo móvel"></i>       
                                              
                                          </div>
                                        </li>
                                        <li class="ui-state-default wrapper span3">
                                          <a title="Ampla área verde" class="fancybox" href="http://areasrurais.net/imagens/imoveis/1284679.jpg">
                                              <img src="http://areasrurais.net/imagens/imoveis/1284679.jpg" alt=""/>
                                          </a>
                                             <div class="published">
                                              <i class="fw-icon-globe" data-toggle="tooltip" title="Disponivel no website"></i>
                                               <i class="fw-icon-tablet" data-toggle="tooltip" title="Não está disponivel no catálogo móvel"></i>       
                                              
                                          </div>
                                        </li>

                                    </ul>



                                </div>
                                <div id="tab3" class="tab-pane">This is a Tab Three Content

                                </div>
                            </div>                            
                        </div>
                  </div>




                </div>
                <!-- </div> -->

              </div>

<h1>Editing property</h1>

<%= render 'form' %>
<%= render 'pictures_upload' %>

<%= @property.pictures %>

<%= link_to 'Show', @property %> |
<%= link_to 'Back', properties_path %>