<h1> titulo </h1>
<a href="#" class="btn btn-primary"><i class="icon-fire icon-white"></i> Teste!</a>

  <% @properties.each  do |property| %>
    <li>
      <input type="checkbox"> 
      <img src="<%= property.get_cover.file.thumb('130x100#').url %>" alt=""/>
      <span class="title"><%= link_to property.value, property %> 
       || <%= link_to 'Edit', edit_property_path(property) %>
       || <%= link_to 'Remove', property, :confirm => 'Are you sure?', :method => :delete %>
       
     </span> 
     <span class="meta">Created <em><%=time_ago_in_words(property.created_at)%></em> ago.</span>
   </li>
  <% end %>